<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky-dark navbar-dark" style="background-color: #fff;" id="navbar-sticky">
    <div class="container">
        <!-- LOGO -->
        <a class="logo text-uppercase" href="/">
            <img src="../../assets/images/Gradient Modern Technology Company Developers Logo.svg" alt="" class="logo-light" style="height: 100px;"/>
            <img src="../../assets/images/Gradient Modern Technology Company Developers Logo.svg" alt="" class="logo-dark" style="height: 100px;"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti ti-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" style="display: flex; justify-content: space-evenly;">
            <ul class="navbar-nav navbar-center" id="mySidenav">
                <li class="nav-item">
                    <a href="#home" class="nav-link"><span class="nav_under_anim">Home</span></a>
                </li>
                <li class="nav-item">
                    <a href="#features" class="nav-link"><span class="nav_under_anim">About US</span></a>
                </li>
                <li class="nav-item">
                    <a href="#services" class="nav-link"><span class="nav_under_anim">Services</span></a>
                </li>
                <li class="nav-item">
                    <a href="#testimonial" class="nav-link"><span class="nav_under_anim">Blog</span></a>
                </li>
                <li class="nav-item">
                    <a href="#team" class="nav-link"><span class="nav_under_anim">Careers</span></a>
                </li>
                <!-- <li class="nav-item">
                    <a href="#pricing" class="nav-link">Contact Us</a>
                </li> -->
                <li class="nav-item">
                    <a href="#contact" class="nav-link"><span class="nav_under_anim">Contact Us</span></a>
                </li>
            </ul>
            <!-- <button class="btn btn-sm btn-primary ms-4">Create Account</button> -->

            <div class="buttons_anim" style="position: relative; top: 18px; left: 50px;">
                <button class="blob-btn_anim">
                    Let's Talk
                  <span class="blob-btn__inner_anim">
                    <span class="blob-btn__blobs_anim">
                      <span class="blob-btn__blob_anim"></span>
                      <span class="blob-btn__blob_anim"></span>
                      <span class="blob-btn__blob_anim"></span>
                      <span class="blob-btn__blob_anim"></span>
                    </span>
                  </span>
                </button>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="position: absolute;">
                    <defs>
                      <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                        <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                      </filter>
                    </defs>
                  </svg>
        </div>
    </div>
</nav>